tempCodeRunnerFile.*
UTNFRHProg2M2/**/NUL
UTNFRHProg2M2/**/AUX
UTNFRHProg2M2/**/CON
UTNFRHProg2M2/**/PRN
UTNFRHProg2M2/**/COM[1-9]
UTNFRHProg2M2/**/LPT[1-9]

# Ignorar nombres reservados de Windows
NUL
AUX
CON
PRN
COM[1-9]
LPT[1-9]
*.exe

# Python
# Entornos virtuales
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribución / empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Variables de entorno
.env
.env.local
